.body {
    background-color: blue;
    color: whitesmoke;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-align: center;
    color: blue;

}

h2{
    font-family: 'Aclonica';font-size: 22px;
    font-size: 0.8em;
    text-align: center;

}

p{
    font-family: 'Aclonica';
    font-size: 10px;
    line-height: 1.3em;
    text-align: center;
}

a{
    color: darkorange;
    text-decoration: unset;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight:bolder;
    padding: 10px;
    

}

a:hover{
    text-decoration: 2px dotted darkorange underline;
    text-underline-offset: 0.3em;
    color: whitesmoke;
    
   
}



hr {
    border:none;
    border-top:1px dashed darkorange;
    color:#fff;
    height:1px;
    width:75%;
    }

li {
    display: inline;
    

    
}

.lijst li {
    list-style-type:square;
    display:block;
}

.topheader{
    background-color:darkorange;
    border: 2px dotted blue;
    border-radius: 15px;
    padding: 3%;
    margin-bottom: 1%;
    
}

.nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.responsive{
    width: 100%;
    height: auto;
    border-radius: 5%;
    border: 2px dotted darkorange;
}

.footer{
    background-color: darkorange;
    border: 2px dotted blue;
    border-radius: 15px;
    padding: 3%;
    margin-bottom: 1%;
    
}

.contact{
    margin-left: 2%;
    margin-bottom: 2%;
    font-family: 'Aclonica'; font-size: 10px;
}

@media (min-width: 960px) {
    h1{
      font-size: 50px;
    }
    h2{
      font-size: 20px;
    }
    footer{
      
      color:black;
        }
    p{
      font-size: 20px;
      line-height: 1.4em;
    
    }
    .contact{
        margin-left: 2%;
        margin-bottom: 2%;
        font-family: 'Aclonica'; font-size: 20px;}
}